<form [formGroup]="form" (ngSubmit)="newPost()">

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title">
        <p class="error" *ngIf="checkValidator('title', 'required')">You must set a title</p>
    </div>

    <div class="form-group">
        <label>Text</label>
        <div class="text">
            <textarea class="form-control text" formControlName="text" #text maxlength="700">
            </textarea>
            <p>{{text.value.length}} / 700</p>
        </div>
        <p class="error" *ngIf="checkValidator('text', 'minlength')">
            Your text must be at least 120 characters</p>
    </div>

    <div class="form-group mt-5">
        <label>Author</label>
        <input type="text" class="form-control" formControlName="author">
        <p class="error" *ngIf="checkValidator('author', 'required')">You must set
            a name or pseudonym</p>
    </div>

    <div class="form-group">
        <label>Image</label>
        <input type="text" class="form-control" formControlName="image" placeholder="Image url">
        <p class="error" *ngIf="checkValidator('image', 'pattern')">Invalid url</p>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select class="ml-2" formControlName="category">
            <option value=""></option>
            <option value="humor">Humor</option>
            <option value="news">News</option>
            <option value="oldtimes">Old times</option>
            <option value="movies">Movies</option>
            <option value="Travel">Travel</option>
        </select>
    </div>

    <input type="submit" value="Enviar" class="btn btn-info btn-block btn-dark mt-5">

</form>