<div>
    <h5>Filter by category:</h5>
    <select class="mb-3" (change)="filter($event)">
        <option value=""></option>
        <option value="humor">Humor</option>
        <option value="news">News</option>
        <option value="oldtimes">Old times</option>
        <option value="movies">Movies</option>
        <option value="travel">Travel</option>
    </select>
</div>

<div class="borderblack mt-3" *ngFor="let post of posts">
    <div class="ml-3">
        <div>
            <figure class="borderblack mt-2">
                <img [src]="post.image" alt="icon">
            </figure>
            <h4 class="ml-3">{{post.author}}</h4>
        </div>
        <h3>{{post.title}}</h3>
        <p maxlength="50">{{post.text}}</p>
        <div class="footer">
            <p class="borderblack ml-2 category" (click)="onClickFilter(post.category)">#{{post.category}}</p>
            <p class="mr-3 date">{{post.date |date: 'dd/MM/yyyy hh:mm'}}</p>
        </div>
    </div>